.App {
  margin: 40px;
}

.elements {
  display: flex;
  margin: 10px;

}

.cajaForm {
  border: 2px solid black;
  border-radius: 20px;
  width: 400px;
  margin-left: 30px;
  padding: 20px;
}

.grupo {
  display: flex;
  align-items: center;
}

.info {
  background-color: grey;
  color: white;
  width: 20px;
  margin-left: 10px;
  border-radius: 60px;
  border: none;
  text-align: center;
  cursor: pointer;
}